[run]
omit =
  *apps.py,
  *migrations/*,
  *settings*,
  *last/*,
 
  *wsgi/*,
  *wsgi.py,
  *views.py,
  *views/*,
  *last/*,
  *setup.py,
  *snippets/*,
  *photos/*,
  *feedback/*,
  *curtisproject/*,


  manage.py